* {
    margin: 0;
    padding: 0;
}

.auth-box {
    margin-top: 20vh;
    margin-left: 50vw;
    transform: translate(-50%);
    background-color: var(--second-color);
}

.auth-box .content {
    padding: 50px;
}

input[type='text'], input[type='password'] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    color: var(--text-second-color)
}

button[type='submit'] {
    width: 100% !important;
    padding: 10px !important;
    border-radius: 6px !important;
    font-family: 'Fredoka One', cursive !important;
    background-color: var(--fourth-color);
    border-radius: 6px;
    color: var(--text-primary-color);
    font-weight: 400;
    padding: 7px 10px;
    animation: all ease 2s;
    border: none;
}

input:not(:first-child){
    margin-top: 10px;
}